<div class="footer container-fluid text-white  text-center">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>LOCATION</h2>
            <p>2215 John Daniel Drive</p>
            <h4>Clark, MO 65243</h4>
        </div>
        <div class="col-md-4 ">
            <h2>AROUND THE WEB</h2>
            <div class="icon">
            <i _ngcontent-wrk-c21="" class="fa-brands fa-facebook mx-1 icon "></i>
            <i _ngcontent-wrk-c21="" class="fa-brands fa-twitter mx-1 icon "></i>
            <i _ngcontent-wrk-c21="" class="fa-brands fa-linkedin-in mx-1 icon "></i>
            <i _ngcontent-wrk-c21="" class="fa-solid fa-globe mx-1 icon "></i>
            </div>
        </div>
        <div class="col-md-4">
            <h2>ABOUT FREELANCER</h2>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
</div>
</div>

<div class="copy">
    <p>Copyright © Your Website 2021</p>
</div>
