.cont-after{
    /* background-color: blue; */
    width: 30%;
    height: 30px;
   margin-left: 35%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.cont-after .first {
    background-color:rgb(44, 62, 80);
    width:30% ;
    height: 5px;
    margin: 0 15px;
}
.cont-after .seconde {
    background-color:rgb(44, 62, 80);
    width:30% ;
    height: 5px;
    margin: 0 15px;
}

.btn-lab{
    background-color: #1abc9c;
    color: #fff;
}
.ms-10{
    margin-left:10%;
}
.m{
    margin: 50px 0;
}

.contact h1{
  text-transform: capitalize;
  font-size: 50px;
  margin-top: 20px;
}


.text-r{
    color: rgb(44, 62, 80);
}
