<div class="port text-center">
    <h1 class="text-coh p-4">portfolio component</h1>
    <div class="cont-after text-coh ">
        <div class="first"></div>
        <i _ngcontent-wrk-c6="" class="fa-solid fa-star"></i>
        <div class="seconde"></div>
    </div>
    <div class="container p-2  pro">
        <div class="row g-4">
            <div class="col-md-4">
                <div class="img-proto rounded rounded-3">
                    <img src="./assets/image/poert1.png" class="w-100" alt="">
                    <div class="bg-img">
                        <i _ngcontent-wrk-c19="" class="fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="img-proto rounded rounded-3">
                    <img src="../../assets/image/port2.png" class="w-100" alt="">
                    <div class="bg-img">
                        <i _ngcontent-wrk-c19="" class="fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="img-proto rounded rounded-3">
                    <img src="../../assets/image/port3.png" class="w-100" alt="">
                    <div class="bg-img">
                        <i _ngcontent-wrk-c19="" class="fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="img-proto rounded rounded-3">
                    <img src="./assets/image/poert1.png" class="w-100" alt="">
                    <div class="bg-img">
                        <i _ngcontent-wrk-c19="" class="fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="img-proto rounded rounded-3">
                    <img src="../../assets/image/port2.png" class="w-100" alt="">
                    <div class="bg-img">
                        <i _ngcontent-wrk-c19="" class="fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="img-proto rounded rounded-3">
                    <img src="../../assets/image/port3.png" class="w-100" alt="">
                    <div class="bg-img">
                        <i _ngcontent-wrk-c19="" class="fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
