
<div class="bg-lab  text-center home">
    <div class="img-cont pt-3">
        <img src="./assets/image/avataaars.svg" class="w-20" alt="start Framework">
    </div>
    <div class="cont pt-2">
        <h1>start Framework</h1>
        <div class="cont-after text-center">
            <div class="first"></div>
            <i _ngcontent-wrk-c6="" class="fa-solid fa-star"></i>
            <i _ngcontent-wrk-c6="" class="fa-solid fa-star"></i>
            <div class="seconde"></div>
        </div>
        <p class="p-2 fs-4 m-0">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</div>
